*{
    box-sizing: border-box;
}

html{
    font-family: Montserrat;
    font-style: normal;
    color: #212121;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 75px 80px 75px 80px;
    background-color: #F4F4F4;
    display: flex;
}

.image-wrapper-continer{
    background-color: white;
}

.image-wrapper{
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 500px;
    position: relative;
    margin: 0 auto;
    background-color: white;
}

.image{
    width: 100%;
}

.image--mobile{
    display: none;
}

.image__item-name{
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    position: absolute;
    top: 40px;
    left: 40px;
}

.image__item-type{
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 35px;
    left: 40px;
}

.wrapper{
    max-width: 560px;
    margin: 0 auto;
    width: 100%;
}

header{
    background-color: #F8F8F8;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
}

.header-title{
    padding: 29px 0;
}
.header-title h1{
    margin: 0;
    display: inline-block;
    max-width: 310px;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
}

main{
    padding-top: 52px;
    padding-bottom: 54px;
    background-color: white;
}

.input-wrapper{
    margin: 0 auto;
    max-width: 320px;
}

.input-title{
    font-weight: 800;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.input-title-green{
    color: #428A60;
}

.input-name{
    margin-top: 10px;
    width: 320px;
    height: 50px;
    padding: 16px 0 16px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    background: #F8F8F8;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-wrapper-phone{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.input-phone{
    margin-top: 10px;
    width: 184px;
    height: 50px;
    padding: 16px 0 16px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    background: #F8F8F8;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.select-region{
    position: relative;
    width: 116px;
    height: 50px;
    padding: 16px 20px 16px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    background: #F8F8F8;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    color: #212121;
}


.select-region:after{
    position: absolute;
    content: '';
    background-image: url("./img/image7.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 18px;
    top: 0px;
    left: 10px;
}

.button{
    border: none;
    width: 320px;
    height: 42px;
    background: #428A60;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: #FFFFFF;
    padding: 12px 0px 12px 115px;
    margin-top: 38px;
}

.buuton-item{
    position: relative;
}

.buuton-item:after{
    position: absolute;
    content: '';
    background-image: url("./img/Vector.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    top: 3px;
    left: 70px;
}

.secure-wrapper{
    display: none;
    padding: 11px 0 11px 0;
    width: 100%;
    background-color: white;
}

.secure{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 160px;
}

.footer-text{
    font-size: 14px;
    line-height: 130%;
    color: #212121;
    font-weight: bold;
}

.footer-img{
    width: 12px;
    height: 15px;
}

@media screen and (max-width: 1295px) {
    .container{
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .container{
        padding: 60px 0;
    }

    .image-wrapper{

    }

    .image__item-name{
        left: 0px;
        top: 0px;
        color: #212121;
    }

    .image__item-type{
        top: 0px;
        right: 0px;
        left: unset;
        color: #212121;
    }

    .image-wrapper{
        max-width: 280px;
        align-items: center;
        padding-top: 32px;
    }

    .image{
        display: none;
    }

    .image--mobile{
        display: block;
        margin: 0 auto;
    }

    header{
        background-color: white;
        padding: 0 20px;
    }

    main{
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 28px;
    }

    .input-wrapper{
        max-width: 280px;
    }

    .input-name{
        width: 280px;
    }

    .input-phone{
        width: 174px;
    }

    .select-region{
        width: 96px;
    }

    .button{
        width: 280px;
        padding-left: 94px;
    }

    .image-wrapper-continer{
        padding-top: 40px;
    }

    .secure-wrapper{
        display: block;
    }
}

